### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
dict={"name":"pratik","age":25,"city":"kolhapur"}
dict

{'name': 'pratik', 'age': 25, 'city': 'kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [3]:
dict={"name":"ashutosh","age":25,"city":"kolhapur"}
dict.get("city")

'kolhapur'

### 3. Create a list of 5 numbers and print the second element.

In [4]:
lst=[10,20,30,40,50]
lst[1]

20

### 4. Add an element "banana" to an existing list.

In [5]:
lst=["apple","mango"]
lst.append("banana")
lst

['apple', 'mango', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [6]:
lst=["mango","banana"]
lst.insert(1,"apple")
lst

['mango', 'apple', 'banana']

### 6. Remove the element 10 from a list.

In [7]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst.remove(10)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 7. Create a tuple with 4 elements and print the last one.

In [11]:
tp=(10,20,30,40)
tp[-1]

40

### 8. Convert a tuple into a list.

In [13]:
tp=(10,20,30,40)
list(tp)

[10, 20, 30, 40]

### 9. Find the length of a given tuple.

In [14]:
tp=(10,20,30,40)
len(tp)

4

### 10. Store 5 student names in a list and print them using a loop.

In [15]:
lst=["ashu","viraj","aryan","sanchit"]
for i in lst:
    print(i)

ashu
viraj
aryan
sanchit

### 11. Create two lists and concatenate them.

In [16]:
lst1=["ashu","viraj","aryan","sanchit"]
lst2=["abhi","gaurav"]
lst1.extend(lst2)
lst1

['ashu', 'viraj', 'aryan', 'sanchit', 'abhi', 'gaurav']

### 12. Reverse a list without using reverse().

In [21]:
lst1=["ashu","viraj","aryan","sanchit"]
print(lst1[::-1])

['sanchit', 'aryan', 'viraj', 'ashu']

### 13. Sort a list in descending order.

In [24]:
lst=[10,20,40,80,30]
lst.sort()
lst

[10, 20, 30, 40, 80]

### 14. Create a set with 5 numbers and add a new number.

In [26]:
st={10,20,30,40,50}
st.add(60)
st

{10, 20, 30, 40, 50, 60}

### 15. Remove an element from a set using discard().

In [28]:
st={10,20,30,40,50}
st.discard(30)
st

{10, 20, 40, 50}

### 16. Find the union of two sets.

In [29]:
st1={10,20,30}
st2={50,30,15}
st1.union(st2)

{10, 15, 20, 30, 50}

### 17. Find the intersection of two sets.

In [30]:
st1={10,20,30}
st2={50,30,15}
st1.intersection(st2)

{30}

### 18. Check if a value exists in a set.

In [32]:
st={10,20,30,40,50}
30 in st

True

### 19. Create a set and clear all elements.

In [34]:
st={10,20,30,40,50}
st.clear()
st

set()

### 20. Convert a list with duplicate values into a set.

In [35]:
lst=[10,20,30,40,20,30,10]
set(lst)

{10, 20, 30, 40}

### 21. Create a dictionary and update the value of a key.

In [37]:
dict={"name":"ashutosh","age":25,"city":"kolhapur"}
dict.update({"name":"aryan"})
dict

{'name': 'aryan', 'age': 25, 'city': 'kolhapur'}

### 22. Delete a key-value pair from a dictionary.

In [39]:
dict={"name":"ashutosh","age":25,"city":"kolhapur"}
dict.pop("age")
dict

{'name': 'ashutosh', 'city': 'kolhapur'}

### 23. Print all keys of a dictionary.

In [40]:
dict={"name":"ashutosh","age":25,"city":"kolhapur"}
dict.keys()

dict_keys(['name', 'age', 'city'])

### 24. Print all values of a dictionary.

In [41]:
dict={"name":"ashutosh","age":25,"city":"kolhapur"}
dict.values()

dict_values(['ashutosh', 25, 'kolhapur'])

### 25. Loop through a dictionary and print key and value.

In [4]:
dict={"name":"ashutosh","age":25,"city":"kolhapur"}
for key,value in dict.items():
    print(f"{key}:{value}")

name:ashutosh
age:25
city:kolhapur

### 26. Create a list of numbers and print only even numbers.

In [46]:
lst=[1,2,3,4,56,5,9,10,20]
for i in lst:
    if i%2==0:
        print(i)

2
4
56
10
20

### 27. Create a tuple and unpack it into 3 variables.

In [3]:
tp=(1,2,3)
a,b,c=tp
print(a)
print(b)
print(c)

1
2
3

### 28. Check if a number is greater than 10 using a comparison operator.

In [47]:
a=15
a>10

True

### 29. Use the in operator to check if "python" exists in a list.

In [48]:
lst=["java","python"]
"python" in lst

True

### 30. Use the and operator in a condition.

In [57]:
compare=10>20
age=18

if age>=18 and compare==True:
    print("sucess")
else:
    print("fail")

fail

### 31. Use the % operator to check if a number is divisible by 5.

In [60]:
num=58

if num%5==0:
    print("divisible by 5")
else:
    print("not divisible by 5")

not divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [62]:
num=5
num**2

25

### 33. Create two numbers and compare them using >=.

In [63]:
a=10
b=20
a>=20

False

### 34. Create a list and remove the last element using pop().

In [64]:
lst=[1,2,3,4,50,10]
lst.pop()
lst

[1, 2, 3, 4, 50]

### 35. Create a list and print its first and last elements.

In [67]:
lst=[1,2,3,4,50,10]
lst[0],lst[-1]

(1, 10)

### 36. Count how many times "apple" appears in a list.

In [69]:
lst=["apple","banana","apple","mango"]
lst.count("apple")

2

### 37. Create a tuple and check if a value exists using in.

In [70]:
tp=(10,20,30,40)
40 in tp

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [1]:

mydict = {"name":"ashutosh", "city":"kolhapur", "age":25}
my_key = list(mydict.keys())
print(my_key)

['name', 'city', 'age']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [84]:
my_dict={"name":"ashutosh","age":25,"skills":{"java","python"}}
print(my_dict)

{'name': 'ashutosh', 'age': 25, 'skills': {'java', 'python'}}

### 40. Merge two dictionaries into one.

In [91]:
dict1={"name":"ashu","age":25}
dict2={"city":"kolhapur"}
dict1.update(dict2)
print(dict1)

{'name': 'ashu', 'age': 25, 'city': 'kolhapur'}

### 41. Create a set and print the number of elements.

In [92]:
st={10,20,30,40}
len(st)

4

### 42. Create a dictionary and print all items using items().

In [93]:
my_dict={"name":"ashutosh","age":25,"skills":"java"}
my_dict.items()

dict_items([('name', 'ashutosh'), ('age', 25), ('skills', 'java')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [94]:
lst=[1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print("square of i is", i**2)

square of i is 1
square of i is 4
square of i is 9
square of i is 16
square of i is 25
square of i is 36
square of i is 49
square of i is 64
square of i is 81
square of i is 100

### 44. Multiply two numbers and print the result using *.

In [95]:
a=10
b=5
print(a*b)

50

### 45. Divide two numbers and print the results using / and //.

In [98]:
a=20
b=5
print(a/b,a//b)

4.0 4

### 46. Create a list and replace the element at index 1.

In [99]:
lst=[10,20,30,40]
lst.insert(1,352)
lst

[10, 352, 20, 30, 40]

### 47. Create a tuple from user input (3 values).

In [102]:
a=input("enter 1 st value")
b=input("enter 2 nd value")
c=input("enter 3 rd value")
my_tuple=(a,b,c)
print(my_tuple)

('10', '20', '30')

### 48. Create a set from a string and print all unique characters.

In [108]:
name="welcome you all"
unique=set(name)
unique

{' ', 'a', 'c', 'e', 'l', 'm', 'o', 'u', 'w', 'y'}

### 49. Use the is operator to compare two variables.

In [109]:
a=10
b=20

a is b

False

### 50. Create a dictionary and check if a key exists using in.

In [111]:
dict={"name":"ashu","age":25}
"name" in dict

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [114]:
a=50

if a>=10 and a<=50:
    print("number is present")
else:
    print("number is not present")

number is present

### 52. Check if a number is less than 5 or greater than 20 using or.

In [115]:
num=15

if num<5 or num>20:
    print("true")
else:
    print("false")

false

### 53. Use not to check if a list is not empty.

In [116]:

lst=[]
lst!=[]

False

### 54. Write code to check if a character is a vowel using or.

In [117]:
char='a'
if char=='a' or char=='e' or char=='i' or char=='o' or char=='u':
    print("char is vowel")
else:
    print("char is not vowel")

char is vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [121]:
dict={"name":"ashutosh","age":25,"city":"kolhapur"}
if "name" in dict and "age" in dict:
    print("keys are present")
else:
    print("keys are not present")

keys are present

### 56. Verify if a set contains either 10 or 20.

In [122]:
st={10,2,30,40,20}
if 10 in st or 20 in st:
    print("10 or 20 is present")
else:
    print("not present")

10 or 20 is present

### 57. Use not to check if a number is not equal to 100.

In [123]:
num=101
num!=102

True

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [128]:
marks=36
attendance=76

if marks>35 and attendance>75:
    print("pass")
else:
    print("fail")

pass

### 59. Use logical operators to check if a number is positive and even.

In [130]:
num=10

if num>0 and num%2==0:
    print("num is positive and even")
else:
    print("check number")

num is positive and even

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [136]:
tp=(1,2,3,4,5)
if len(tp)>3 or  0 in tp:
    print("tuple have more than 3 element and contains zero ")
else:
    print("check tuple")

tuple have more than 3 element and contains zero