# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [7]:
lst=[10,20,30,40,50]
lst.append(60)
lst

[10, 20, 30, 40, 50, 60]

2. Make a list of fruits and insert a fruit at the second position.

In [11]:
fruits=['apple','mango','watermelon','guava','banana']
fruits.insert(1,'grapes')
fruits

['apple', 'grapes', 'mango', 'watermelon', 'guava', 'banana']

3. Create a list of names and remove one name from the list.

In [ ]:
name=['pratik','prathmesh','ashu','atharv','om']
name.pop()  #Or
name.remove('pratik')
name

['prathmesh', 'ashu', 'atharv']

4. Create a list of 4 items and change the value at index 2.

In [19]:
lst4=[100,200,300,400]
lst4[2]=500
lst4

[100, 200, 500, 400]

5. Make a list of numbers and print only the first three elements.

In [41]:
lst5=[100,200,300,400,500,600]
lst5[0:3]

[100, 200, 300]

6. Create a list of colors and find the index of a specific color.

In [24]:
lst6=['red','yellow','orange','blue','green']
lst6.index('yellow')

1

7. Create a list of 10 numbers and print how many times “5” appears.

In [26]:
lst7=[1,2,4,5,3,5,6,7,5,8,5]
lst7.count(5)

4

8. Make a list of 6 items and delete the item at index 3.

In [28]:
lst8=[10,20,30,40,50,60]
lst8.pop(3)
lst8

[10, 20, 30, 50, 60]

9. Create a list of animals and add three more animals using extend().

In [32]:
lst9=['tiger','lion','zebra']
lst9.extend(['cow','dog','elephant'])
lst9

['tiger', 'lion', 'zebra', 'cow', 'dog', 'elephant']

10. Create a list and remove the last item using pop().

In [33]:
lst10=['tiger','lion','zebra']
lst10.pop()
lst10

['tiger', 'lion']

11. Create a list of prices and sort them in ascending order.

In [37]:
lst11=[200,84,500,300,400,100]
lst11.sort()
lst11

[84, 100, 200, 300, 400, 500]

12. Make a list of countries and reverse the order of the list.

In [38]:
lst12=['india','usa','germany','china']
lst12.reverse()
lst12

['china', 'germany', 'usa', 'india']

13. Create a list of words and check if “apple” is in the list.

In [54]:
lst13=['apple','mango','watermelon','guava','banana']
'apple' in lst13
# lst13

True

14. Create a list of numbers and print the largest and smallest number.

In [63]:
lst14=[200,84,500,300,400,100]
print('largest number:',max(lst14))
print('smallest number:',min(lst14))
# print('largest number:',max_no)
# print('smallest number:',small_no)

largest number: 500
smallest number: 84

15. Make a list of 5 items and print each item using a loop.

In [67]:
lst15=['apple','mango','watermelon','guava','banana']
for i in lst15:
    print(i)

apple
mango
watermelon
guava
banana

16. Create two lists and combine them into one list.

In [ ]:
lst=["apple","mango","watermelon"]
lst2=[200,84,500,300,400,100]
lst.extend(lst2)
lst

['apple', 'mango', 'watermelon', 200, 84, 500, 300, 400, 100]

17. Make a list and replace the last item with a new value.

In [81]:
lst17=["apple","mango","watermelon"]
lst17[-1]=40
lst17

['apple', 'mango', 40]

18. Create a list of numbers and print only the even numbers.

In [83]:
lst18=[200,83,501,302,405,100]
for i in lst18:
    if(i%2==0):
        print(i)

200
302
100

19. Create a list and clear all items from the list.

In [85]:
lst19=[200,83,501,302,405,100]
lst19.clear()
lst19

[]

20. Create a list of 5 values and copy it into another list.

In [97]:
lst20=[200,83,501,302,405]
lst21=[]
lst21=lst20.copy()
lst21

[200, 83, 501, 302, 405]